.login-footer, .login-header{
    box-sizing: border-box;
    background-color: #1d2124;
    height: 50px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login-footer{
    z-index: 999;
    font-size: 1rem;
}


.login-header{
    top: 0;
}

.full-height{
    height: 100%;
}

.default-height-body{
    height: 100vh;
}

form div.div-inline-input{
    position: relative;
    margin: 30px 0;
}

form div.div-inline-input label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: #646464;
    cursor: text;
    transition: all 0.2s ease-in-out;
}

form div.div-inline-input .inline-input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #c8c8c8;
    outline: 0;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

form div.div-inline-input .inline-input:focus,
form div.div-inline-input .inline-input:valid{
    border-bottom: 1px solid #6495ed;
}

form div.div-inline-input .inline-input:focus ~ label,
form div.div-inline-input .inline-input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #6495ed;
}

.box{
    width: 100%;
    border-radius: 3px;
    border-top: 3px solid #FFF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.box-none-border{
    border: none;
}

.box-dig{
    border-top-color: #198754;
}

.box-read{
    border-top-color: #0d6efd;
}

.required{
    color: #ff0000;
    font-weight: 600;
}

.form-label-custom{
    font-weight: bold;
    margin-bottom: 4px;
}

.pull-right{
    float: right;
}

.btn-sm-custom{
    padding: 1px 5px; 
    font-size: 14px; 
    border-radius: 0.25rem;
}

.link-card-contribuitor{
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
}

@media (max-width: 480px){
    #box-card-login{
        box-shadow: none !important;
    }
}