@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f0f0;
}

header{
    background-color: rgb(41, 51, 51);
    color: #fff;
}

.profile-area{
    font-family: "Poppins", sans-serif;
    padding: 30px 0;
}

.card-custom{
    display: flex;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 50px;
    align-items: center;
}

.felipe{
    border-left: 30px solid #0f3d33;
}

.ewerton{
    border-left: 30px solid #126E82;
}


.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.img2 img{
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    transition: .6s;
}

.felipe:hover .img2 img{
    border-color: #0f3d33;
    transform: translateY(-20px);
}

.ewerton:hover .img2 img{
    border-color: #126E82;
    transform: translateY(-20px);
}

.main-text{
    display: inline;
    padding: 30px 0;
    text-align: center;
}

.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text p{
    font-size: 16px;
    padding: 0 35px;   
}

.socials{
    display: flex;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}

.socials i{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
}

.socials img{
    width: 33%;
    padding-right: 30px;
}

.botao{
    position: absolute;
    margin-top: 40px;
    margin-left: 430px;
}

.botao a{
    display: flexbox;
    width: 50px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(41, 51, 51);
    border-radius: 10px;
    padding: 20px 40px;
}

.presentation{
    text-align: center;
    font-size: 50px;
    text-decoration:wavy;
}

.perfil{
    position: relative;
    display: block;
    padding: 30px;
}

.perfil p{
    padding: 20px;
    text-align: center;
}
