<script src="/bravo4Fun/res/bootstrap/js/bootstrap.min.js"></script>
<script src="/bravo4Fun/res/plugins/jQuery/jquery-3.6.1.min.js"></script>
<script src="/bravo4Fun/res/plugins/input/jquery.maskMoney.js"></script>
<script src="/bravo4Fun/res/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bravo4Fun/res/js/utils.js"></script>
<script src="/bravo4Fun/res/js/mask.js"></script>
<script src="/bravo4Fun/res/js/modal.js"></script>
<script src="/bravo4Fun/res/js/api.js"></script>
<script src="/bravo4Fun/res/js/forms.js"></script>
<script src="/bravo4Fun/res/js/init.js"></script>
<script src="/bravo4Fun/res/js/menu.js"></script>
<script src="/bravo4Fun/res/js/logout.js"></script>