<script src="/res/bootstrap/js/bootstrap.min.js"></script>
<script src="/res/plugins/jQuery/jquery-3.6.1.min.js"></script>
<script src="/res/plugins/input/jquery.maskMoney.js"></script>
<script src="/res/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/res/js/utils.js"></script>
<script src="/res/js/mask.js"></script>
<script src="/res/js/modal.js"></script>
<script src="/res/js/api.js"></script>
<script src="/res/js/forms.js"></script>
<script src="/res/js/init.js"></script>
<script src="/res/js/menu.js"></script>
<script src="/res/js/logout.js"></script>
<script src="/node_modules/select2/dist/js/select2.full.min.js"></script>
<script src="/res/js/select2Config.js"></script>
<script src="/res/js/buttonAnimation.js"></script>