<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário exemplo</title>
    <link rel="shortcut icon" href="/bravo4Fun/res/images/logo.ico">
    <link rel="stylesheet" href="/bravo4Fun/res/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bravo4Fun/res/css/global.css">
</head>
<body class="default-height-body">
    <main class="full-height">
        <!-- Inicio do formulário de digitar -->
        <div class="m-3">
            <div class="box box-dig p-2 margin-0">
                <div class="my-3">
                    <h3>Categoria - Incluir</h3>
                </div>
                <div class="m-2 mt-4">
                    <form action="../categoriaIncluir" method="post">
                        <div class="row g-3">
                            <!-- <div class="col-12">
                                <div class="col-6 col-md-2">
                                    <label class="form-label-custom" for="ID">ID</label>
                                    <input name="ID" maxlength="500" required type="text" class="form-control" placeholder="" value="" disabled>
                                </div>
                            </div> -->
                            <input name="ID" maxlength="500" required type="hidden" class="form-control" placeholder="" value="" disabled>
                            <div class="col-md-6">
                                <label class="form-label-custom" for="NOME">Nome<span class="required">*</span></label>
                                <input name="NOME" maxlength="500" required type="text" class="form-control" placeholder="Digite...">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label-custom" for="NOME">Nome<span class="required">*</span></label>
                                <input name="NOME" maxlength="500" required type="text" class="form-control" placeholder="Digite...">
                            </div>
                            <div class="col-12">
                                <label class="form-label-custom" for="NOME">Nome</label>
                                <input name="NOME" maxlength="500" type="text" class="form-control" placeholder="Digite...">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label-custom" for="NOME">Nome<span class="required">*</span></label>
                                <input name="NOME" maxlength="500" required type="text" class="form-control" placeholder="Digite...">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label-custom" for="NOME">Nome<span class="required">*</span></label>
                                <input name="NOME" maxlength="500" required type="text" class="form-control" placeholder="Digite...">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label-custom" for="NOME">Nome<span class="required">*</span></label>
                                <input name="NOME" maxlength="500" required type="text" class="form-control" placeholder="Digite...">
                            </div>
                            <div class="col-12">
                                <label class="form-label-custom" for="NOME">Texto<span class="required">*</span></label>
                                <textarea name="NOME" maxlength="500" rows="4" required type="text" class="form-control" placeholder="Digite..."></textarea>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label-custom" for="VALOR">Valor<span class="required">*</span></label>
                                <input name="VALOR" maxlength="500" required type="text" class="form-control inputNumber" placeholder="Digite...">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label-custom" for="VALOR">Valor<span class="required">*</span></label>
                                <input name="VALOR" maxlength="500" required type="text" class="form-control inputNumber" placeholder="Digite...">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label-custom" for="SELECT">Select<span class="required">*</span></label>
                                <select class="form-select" aria-label="Default select example" name="SELECT">
                                    <option value="0" selected>Selecione...</option>
                                    <option value="1">Valor 1</option>
                                    <option value="2">Valor 2</option>
                                    <option value="3">Valor 3</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label-custom" for="QTD">Qtd.<span class="required">*</span></label>
                                <input name="QTD" maxlength="500" required type="number" class="form-control" placeholder="Digite...">
                            </div>
                            <div class="col-12 mt-5">
                                <button type="submit" class="btn btn-success mx-1">Cadastrar</button>
                                <a href="categoriaConsultar.php" class="btn btn-light mx-1">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fim do formulário de digitar -->
        <!-- Inicio do formulário de consultar -->
        <div class="m-3 mt-5">
            <div class="box box-read p-2 margin-0">
                <div class="my-3">
                    <h3>Categoria - Consultar</h3>
                </div>
                <div class="m-2 mt-5 pb-1">
                    <form action="../categoriaConsultar.php" method="get">
                        <div class="row g-3">
                            <div class="row col-auto me-auto col-md-6">
                                <div class="col-md-4">
                                    <label class="form-label-custom" for="ID">ID</label>
                                    <input name="ID" maxlength="500" type="number" class="form-control" placeholder="Digite..." value="">
                                </div>
                                <div class="col-md-8">
                                    <label class="form-label-custom" for="NOME">Nome</label>
                                    <input name="NOME" maxlength="500" type="text" class="form-control" placeholder="Digite..." value="">
                                </div>
                            </div>
                             <div class="col-auto align-self-end">
                                    <button type="submit" class="btn btn-primary mx-1">Consultar</button>
                             </div>
                        </div>
                    </form>
                    <div class="mt-4 table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                    <th>
                                        <a href="digitarCategoria.php" class="btn btn-success fw-bold btn-sm-custom">+ Incluir</a>
                                    </th>           
                                </tr>    
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <td>1</td>
                                    <td>Cinema</td>
                                    <td>Ingressos para filmes do cinema</td>
                                    <td>
                                        <div class="d-flex flex-row">
                                            <div>
                                                <a href="categoriaDigitar.php?id=1" class="btn  btn-sm-custom p-0">
                                                    <img src="../res/images/edit.png" alt="" width="17px" height="17px">
                                                </a>
                                            </div>
                                            <div class="ps-1">
                                                <a class="btn btn-sm-custom p-0">
                                                    <img src="../res/images/delete.png" alt="" width="18px" height="18px">
                                                </a>
                                            </div>
                                            <div class="dropdown">
                                                <button class="btn btn-sm-custom dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                                    <img src="../res/images/more.png" alt="" width="16px" height="16px">
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Ativar / Detativar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr> 
                                <tr>
                                    <td>2</td>
                                    <td>Show</td>
                                    <td>Ingressos para shows em geral</td>
                                    <td>
                                        <div class="d-flex flex-row">
                                            <div>
                                                <a href="categoriaDigitar.php?id=2" class="btn  btn-sm-custom p-0">
                                                    <img src="../res/images/edit.png" alt="" width="17px" height="17px">
                                                </a>
                                            </div>
                                            <div class="ps-1">
                                                <a class="btn btn-sm-custom p-0">
                                                    <img src="../res/images/delete.png" alt="" width="18px" height="18px">
                                                </a>
                                            </div>
                                            <div class="dropdown">
                                                <button class="btn btn-sm-custom dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                                    <img src="../res/images/more.png" alt="" width="16px" height="16px">
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Ativar / Detativar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>   
                                <tr>
                                    <td>3</td>
                                    <td>Games</td>
                                    <td>Ingressos para eventos de games</td>
                                    <td>
                                        <div class="d-flex flex-row">
                                            <div>
                                                <a href="categoriaDigitar.php?id=3" class="btn  btn-sm-custom p-0">
                                                    <img src="../res/images/edit.png" alt="" width="17px" height="17px">
                                                </a>
                                            </div>
                                            <div class="ps-1">
                                                <a class="btn btn-sm-custom p-0">
                                                    <img src="../res/images/delete.png" alt="" width="18px" height="18px">
                                                </a>
                                            </div>
                                            <div class="dropdown">
                                                <button class="btn btn-sm-custom dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                                    <img src="../res/images/more.png" alt="" width="16px" height="16px">
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Ativar / Detativar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>    
                            </tbody>   
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do formulário de consultar -->
        <!-- Inicio do formulário de upload -->
        <div class="m-3">
            <div class="box box-dig p-2 margin-0">
                <div class="my-3">
                    <h3>Upload</h3>
                </div>
                <div class="m-2 mt-4">
                    <form action="upload.php" method="post" redirect="views\menu.html" id="form-js">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label-custom" for="NOME">Arquivo<span class="required">*</span></label>
                                <input name="ARQUIVO" required type="file" class="form-control" placeholder="Digite...">
                            </div>
                            <div class="col-12 mt-5">
                                <button type="submit" id="btnOk" class="btn btn-success mx-1">Upload</button>
                                <a href="menu.html" class="btn btn-light mx-1">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fim do formulário de upload -->
        <div class="mt-5">
            Fim do arquivo
        </div>
    </main>
</body>
<script src="/bravo4Fun/res/bootstrap/js/bootstrap.min.js"></script>
<script src="/bravo4Fun/res/plugins/jQuery/jquery-3.6.1.min.js"></script>
<script src="/bravo4Fun/res/plugins/input/jquery.maskMoney.js"></script>
<script src="/bravo4Fun/res/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bravo4Fun/res/js/utils.js"></script>
<script src="/bravo4Fun/res/js/mask.js"></script>
<script src="/bravo4Fun/res/js/modal.js"></script>
<script src="/bravo4Fun/res/js/api.js"></script>
<script src="/bravo4Fun/res/js/forms.js"></script>
<script src="/bravo4Fun/res/js/init.js"></script>
</html>