<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/bravo4Fun/res/images/logo.ico">
    <link rel="stylesheet" href="/bravo4Fun/res/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bravo4Fun/res/css/global.css">
</head>
<body class="default-height-body">
    <header class="login-header">
        <div class="full-height d-flex justify-content-center align-items-center">
            <h4>BRAVO 4 FUN</h4>
        </div>
    </header>
    <main class="full-height">
        <div class="full-height d-flex justify-content-center align-items-center">
            <div class="card border-0 shadow p-3 mb-5 bg-body rounded" style="width: 24rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center align-items-center">
                        <h3 class="mb-3 card-title">Faça login</h5>
                    </div>
                    <form id="form-js" action="login.php" method="post" redirect="views\menu.php">
                        <div class="mb-1 mt-4 div-inline-input">
                          <input type="email" class="inline-input" name="ADM_EMAIL" id="ADM_EMAIL" required>
                          <label for="usuario_email" class="form-label">E-mail</label>
                        </div>
                        <div class="mb-5 div-inline-input">
                          <input type="password" class="inline-input" name="ADM_SENHA" id="ADM_SENHA" required>
                          <label for="usuario_senha" class="form-label">Senha</label>
                        </div>
                        <div class="mb-3 d-grid gap-2">
                            <button type="submit" class="btn btn-dark" style="width: 100%;" type="button" id="btnOk">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="login-footer">
        <div class="full-height d-flex justify-content-center align-items-center">
            <span>Copyright © 2022 All Rights Reserved</span>
        </div>
    </footer>
</body>
<script src="/bravo4Fun/res/bootstrap/js/bootstrap.min.js"></script>
<script src="/bravo4Fun/res/plugins/jQuery/jquery-3.6.1.min.js"></script>
<script src="/bravo4Fun/res/plugins/input/jquery.maskMoney.js"></script>
<script src="/bravo4Fun/res/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bravo4Fun/res/js/utils.js"></script>
<script src="/bravo4Fun/res/js/mask.js"></script>
<script src="/bravo4Fun/res/js/modal.js"></script>
<script src="/bravo4Fun/res/js/api.js"></script>
<script src="/bravo4Fun/res/js/forms.js"></script>
</html>