<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="../res/css/menu.css">
</head>

<body>
  <header id="header">
    <nav id="nav">
      <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-expanded="false">
        <span id="span"></span>
    </button>
      <ul id="menu">
        <li><a  href="">Produtos</a></li>
        <li><a  href="">Pedidos</a></li>
        <li><a  href="">Usuários</a></li>
      </ul>
    </nav>
    <a id="logo" href="">Bravo4 Fun</a>
    <img id="semfoto" src="../res/images/semfoto.png" width="50">
</header>
  <script src="../res/js/menu.js"></script>
</body>

</html>