<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="../res/css/menu.css">
</head>

<body>
  <header id="header">
    <nav id="nav">
      <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-expanded="false">
        <span id="span"></span>
    </button>
      <ul id="menu">
        <li><a id="produtomenu" onclick="montarMenu('produtomenu')" href="#">Vendas</a></li>
        <li><a  href="../adminConsultar.php">Administradores</a></li>
      </ul>
    </nav>
    <a id="logo" href="/bravo4Fun/views/menu.html">Bravo4 Fun</a>
    <img id="semfoto" src="../res/images/semfoto.png" width="50">
  </header>
  <script src="../res/bootstrap/js/bootstrap.min.js"></script>
  <script src="../res/plugins/jQuery/jquery-3.6.1.min.js"></script>
  <script src="../res/plugins/input/jquery.maskMoney.js"></script>
  <script src="../res/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../res/bootstrap/js/bootstrap.esm.min.js"></script>
  <script src="../res/js/utils.js"></script>
  <script src="../res/js/mask.js"></script>
  <script src="../res/js/modal.js"></script>
  <script src="../res/js/api.js"></script>
  <script src="../res/js/menu.js"></script>
  <script src="../res/js/init.js"></script>
</body>

</html>